<div id="about" class="about">
    <div>
        <h3>Myself <span>Abhishek Niranjan</span></h3>
        <p>I am pursuing Bachelor's in Electronics engineering from MNNIT Allahabad. </p>
        <div class="aboutInfo">


            <div class="skills">
                <h3>I am well prepared to tackle with...</h3>
                <ul>
                    <li>Javascript</li>
                    <li>My SQL</li>
                    <li>Node JS</li>
                    <li>Git and Github</li>
                    <li>Computer Networks</li>
                </ul>
            </div>
            <div class="hobbies">
                <h3>In my free time i love to...</h3>
                <ul>
                    <li>Ride bike</li>
                    <li>Watch Sunset</li>
                    <li>Play Games</li>
                </ul>
            </div>
        </div>
    </div>
</div>