<div id="contact" class="contact">
    <h3>Feel free to say Hiiii ...</h3>
    <div class="socialLinks">
        <a href="https://twitter.com/aniranjan2001"><img src="/images/socialIcon/twitter.svg" alt="twitter"></a>
        <a href="https://twitter.com/aniranjan2001"><img src="/images/socialIcon/whatsapp.svg" alt="whatsapp"></a>
        <a href="https://wa.me/919598362471"><img src="/images/socialIcon/facebook.svg" alt="whatsapp"></a>
        <a href="https://instagram.com/aniranjan2001"><img src="/images/socialIcon/instagram.svg" alt="whatsapp"></a>

    </div>
</div>