<div id="home" class="home">
    <img src="/images/profile.jpg">
    <div>
        <h2>Hello, I am a <span>Mern stack Devloper,</span>Gamer and A freelancer</h2>

        <p>Yeah that's me weird funny guy.</p>
    </div>
</div>